$pink-color:#f68489;
$grey-color:#9a9897;
$white-color:#fff;
%button-shared {
    background: transparent;
    border: 2px solid #f68489;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 500;
    transition-duration: 0.6s;
}

%circle-button {
    background: #ffffffb5;
    height: 30px;
    width: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #c7babc;
}

%apps_store {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        width: 30%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    a:first-child {
        margin-right: 10px;
    }
}

body {
    margin: 0px;
    background-color: #ffd8d0;
}

.top_navbar {
    background: #f9a8a5;
    padding: 5px 0;
    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        li:first-child {
            margin-right: 30px;
        }
        li {
            a {
                color: #ffd8d0;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.bottom_navbar {
    background: #ffd8d0;
    .content.normal_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        ul.nav_item {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            display: flex;
            li {
                display: flex;
                align-items: center;
                a {
                    color: $pink-color;
                    text-decoration: none;
                    margin: 0 10px;
                    position: relative;
                    span {
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        height: 15px;
                        width: 15px;
                        background: #fff;
                        border-radius: 100%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                    }
                }
                hr {
                    display: inline-block;
                    width: 1px;
                    height: 40%;
                    background: $pink-color;
                    margin: 0 15px;
                }
                a.button_type {
                    @extend %button-shared;
                }
                a.button_type:hover {
                    background: #f68489;
                    border: 2px solid transparent;
                    color: #fff;
                    transition-duration: 0.6s;
                }
                .dropdown {
                    button {
                        background: #ffe8e2;
                        border: none;
                        color: #f68489;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
            li:last-child {
                a.button_type {
                    margin-left: 5px;
                }
            }
        }
    }
}

button:focus,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.carousel_content {
    margin-top: 10px;
    .box {
        display: flex;
        .left_content {
            width: 70%;
            padding: 0 20px 0px 0px;
            .owl-nav {
                .owl-prev {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -15px;
                    span {
                        @extend %circle-button;
                    }
                }
                .owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -15px;
                    span {
                        @extend %circle-button;
                    }
                }
            }
        }
        .right_content {
            width: 30%;
            text-align: center;
            img {
                width: 60%;
            }
            p {
                a {
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: none;
                    color: #ac9088;
                }
            }
            .apps_store {
                @extend %apps_store;
            }
        }
    }
}

.official_partners {
    h5 {
        font-weight: 600;
        color: #ac9088;
        margin-bottom: 20px;
    }
    .partner_slider {
        .item {
            img {
                height: 120px;
                border-radius: 10px;
                object-fit: cover;
            }
        }
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -15px;
                span {
                    @extend %circle-button;
                }
            }
            .owl-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -15px;
                span {
                    @extend %circle-button;
                }
            }
        }
    }
    .service_slider {
        .item {
            img {
                height: 120px;
                border-radius: 10px;
                object-fit: cover;
            }
        }
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -15px;
                span {
                    @extend %circle-button;
                }
            }
            .owl-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -15px;
                span {
                    @extend %circle-button;
                }
            }
        }
    }
}

.service_filter {
    .both_box {
        display: flex;
        .left_products {
            width: 70%;
            .search_sortby {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .search {
                    background: #fff;
                    width: 70%;
                    margin-right: 2%;
                    box-shadow: 0px 0px 4px #ac9088;
                    border-radius: 5px;
                    padding: 5px 15px;
                    display: flex;
                    align-items: center;
                    input {
                        border: none;
                        background-color: transparent;
                        width: 100%;
                        padding-right: 10px;
                    }
                    svg {
                        color: #ac9088;
                    }
                }
                .sortby {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    span {
                        color: #ac9088;
                        font-weight: 600;
                        margin-right: 5px;
                    }
                    select {
                        box-shadow: 0px 0px 4px #ac9088;
                        border-radius: 5px;
                        padding: 5px 15px;
                        background-color: #fff;
                        border: none;
                        color: #ac9088;
                    }
                }
            }
            .products_with_pagination {
                .products {
                    margin-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    .card {
                        width: 23.5%;
                        margin-right: 2%;
                        margin-bottom: 2%;
                        background: transparent;
                        border: none;
                        padding: 0px;
                        .product_card {
                            .image_box {
                                position: relative;
                                height: 130px;
                                border-top-left-radius: 10px;
                                overflow: hidden;
                                border-top-right-radius: 10px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                .thumbs {
                                    a {
                                        height: 30px;
                                        width: 30px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background: #fff;
                                        border-radius: 100%;
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        font-size: 14px;
                                        text-decoration: none;
                                        color: $pink-color;
                                    }
                                }
                                .medium {
                                    a {
                                        text-decoration: none;
                                        background: #fff;
                                        padding: 2px 30px;
                                        font-size: 14px;
                                        position: absolute;
                                        bottom: 10px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        color: $pink-color;
                                    }
                                }
                            }
                            .content {
                                padding: 10px;
                                background: #fff;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                box-shadow: 1px 5px 4px #ac9088;
                                p {
                                    font-size: 14px;
                                    margin-bottom: 5px;
                                }
                                p.price {
                                    color: $pink-color;
                                    font-weight: 700;
                                }
                                p.tag {
                                    color: #dec78d;
                                    margin: 0px;
                                    font-size: 12px;
                                }
                                p.location {
                                    margin: 0px;
                                    color: #cdcbcc;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .card:nth-child(4n) {
                        margin-right: 0px;
                    }
                }
                .pagination {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 30px 0;
                    a {
                        text-decoration: none;
                        color: #f68489;
                    }
                    a.left_arrow {
                        height: 30px;
                        width: 30px;
                        background: #fff;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #f68489;
                        font-size: 12px;
                        margin-right: 10px;
                        transition-duration: 0.6s;
                    }
                    a.left_arrow:hover {
                        background: #f68489;
                        color: #fff;
                        transition-duration: 0.6s;
                    }
                    a.right_arrow {
                        height: 30px;
                        width: 30px;
                        background: #fff;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #f68489;
                        font-size: 12px;
                        margin-left: 10px;
                        transition-duration: 0.6s;
                    }
                    a.right_arrow:hover {
                        background: #f68489;
                        color: #fff;
                        transition-duration: 0.6s;
                    }
                    .list_all {
                        background: #fff;
                        border-radius: 20px;
                        a.number {
                            height: 30px;
                            width: 30px;
                            background: #fff;
                            border-radius: 100%;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            color: #f68489;
                            font-size: 12px;
                            transition-duration: 0.6s;
                        }
                        a.number.active {
                            background: #f68489;
                            color: #fff;
                            transition-duration: 0.6s;
                        }
                        a.number:hover {
                            background: #f68489;
                            color: #fff;
                            transition-duration: 0.6s;
                        }
                        a.dots {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
        .right_products {
            padding-left: 40px;
            width: 30%;
            .filter_box {
                background: #fff;
                box-shadow: 0px 0px 4px #ac9088;
                border-radius: 10px;
                padding: 15px;
                p {
                    color: $pink-color;
                    font-weight: 600;
                }
                button {
                    width: 100%;
                    border: 1px solid #f68489;
                    border-radius: 5px;
                    background: #fff;
                    color: #f68489;
                    cursor: pointer;
                    margin-bottom: 10px;
                    font-size: 14px;
                    padding: 5px;
                }
                button:hover {
                    background: #f68489;
                    color: #fff;
                }
                .wrapper {
                    .filter-price {
                        width: 100%;
                        border: 0;
                        padding: 0;
                        margin: 0;
                        .price-wrap {
                            display: flex;
                            justify-content: flex-start;
                            color: #f68489;
                            font-size: 14px;
                            line-height: 1.2em;
                            font-weight: 400;
                            margin-bottom: 7px;
                            .price-title {
                                position: relative;
                                color: #f68489;
                                font-size: 14px;
                                line-height: 1.2em;
                                font-weight: 400;
                                margin-right: 5px;
                            }
                            .price-wrap-1 {
                                display: flex;
                                align-items: center;
                                #one {
                                    width: 30px;
                                    text-align: right;
                                    margin: 0;
                                    padding: 0;
                                    margin-right: 2px;
                                    background: 0;
                                    border: 0;
                                    outline: 0;
                                    color: #f68489;
                                    font-family: 'Karla', 'Arial', sans-serif;
                                    font-size: 14px;
                                    line-height: 1.2em;
                                    font-weight: 400;
                                }
                                label {
                                    text-align: right;
                                    margin: 0px;
                                }
                            }
                            .price-wrap-2 {
                                display: flex;
                                align-items: center;
                                #two {
                                    width: 30px;
                                    text-align: right;
                                    margin: 0;
                                    padding: 0;
                                    margin-right: 2px;
                                    background: 0;
                                    border: 0;
                                    outline: 0;
                                    color: #f68489;
                                    font-family: 'Karla', 'Arial', sans-serif;
                                    font-size: 14px;
                                    line-height: 1.2em;
                                    font-weight: 400;
                                }
                                label {
                                    text-align: right;
                                    margin: 0px;
                                }
                            }
                            .price-wrap_line {
                                margin: 0 10px;
                            }
                        }
                        .price-field {
                            position: relative;
                            width: 100%;
                            height: 30px;
                            box-sizing: border-box;
                            background: rgba(248, 247, 244, 0.2);
                            padding-top: 15px;
                            padding-left: 16px;
                            border-radius: 3px;
                            margin-bottom: 50px;
                            input[type=range] {
                                width: 100%;
                                height: 2px;
                                border: 0;
                                outline: 0;
                                box-sizing: border-box;
                                border-radius: 5px;
                                pointer-events: none;
                                -webkit-appearance: none;
                                position: absolute;
                                left: 0;
                            }
                            input[type=range]::-webkit-slider-thumb {
                                -webkit-appearance: none;
                            }
                            input[type=range]:active,
                            input[type=range]:focus {
                                outline: 0;
                            }
                            input[type=range]::-ms-track {
                                width: 188px;
                                height: 2px;
                                border: 0;
                                outline: 0;
                                box-sizing: border-box;
                                border-radius: 5px;
                                pointer-events: none;
                                background: transparent;
                                border-color: transparent;
                                color: transparent;
                                border-radius: 5px;
                            }
                            input[type=range]::-webkit-slider-thumb {
                                position: relative;
                                -webkit-appearance: none;
                                margin: 0;
                                border: 0;
                                outline: 0;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                margin-top: -4px;
                                background-color: #f68489;
                                cursor: pointer;
                                cursor: pointer;
                                pointer-events: all;
                                z-index: 100;
                            }
                            input[type=range]::-moz-range-thumb {
                                position: relative;
                                appearance: none;
                                margin: 0;
                                border: 0;
                                outline: 0;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                margin-top: -5px;
                                background-color: #f68489;
                                cursor: pointer;
                                cursor: pointer;
                                pointer-events: all;
                                z-index: 100;
                            }
                            input[type=range]::-ms-thumb {
                                position: relative;
                                appearance: none;
                                margin: 0;
                                border: 0;
                                outline: 0;
                                border-radius: 50%;
                                height: 10px;
                                width: 10px;
                                margin-top: -5px;
                                background-color: #f68489;
                                cursor: pointer;
                                cursor: pointer;
                                pointer-events: all;
                                z-index: 100;
                            }
                            input[type=range]::-webkit-slider-runnable-track {
                                width: 188px;
                                height: 2px;
                                cursor: pointer;
                                background: #f68489;
                                border-radius: 5px;
                            }
                            input[type=range]::-moz-range-track {
                                width: 188px;
                                height: 2px;
                                cursor: pointer;
                                background: #f68489;
                                border-radius: 5px;
                            }
                            input[type=range]::-ms-track {
                                width: 188px;
                                height: 2px;
                                cursor: pointer;
                                background: #f68489;
                                border-radius: 5px;
                            }
                            input[type=range]:hover::-webkit-slider-thumb {
                                box-shadow: 0 0 0 0.5px #f68489;
                                transition-duration: 0.3s;
                            }
                            input[type=range]:active::-webkit-slider-thumb {
                                box-shadow: 0 0 0 0.5px #f68489;
                                transition-duration: 0.3s;
                            }
                        }
                    }
                }
                .clear_fliter {
                    button {
                        background: #f68489;
                        color: #fff;
                    }
                }
            }
        }
    }
}

footer {
    background: #f9a8a5;
    padding: 20px 0;
    .top_bar {
        margin-bottom: 30px;
        .col {
            p {
                color: #fff;
                font-weight: 600;
            }
            .icons {
                display: flex;
                align-items: center;
                a {
                    height: 25px;
                    color: #f9a8a5;
                    background: #fff;
                    width: 25px;
                    border-radius: 100%;
                    margin: 0 10px 0px 0px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                }
            }
            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                li {
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            .apps_store {
                justify-content: flex-end;
                @extend %apps_store;
            }
        }
        .last_col {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    .copyright {
        p {
            color: #fff;
            font-weight: 600;
            margin: 0px;
            font-size: 14px;
        }
    }
}